@model BookStoreProject.Models.book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Title</dt>
        <dd class = "col-sm-10">Title
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt class = "col-sm-2">Info</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt class = "col-sm-2">Book Quantity</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookquantity)
        </dd>

        <dt class = "col-sm-2">Price</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt class = "col-sm-2">Category</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cataid)
        </dd>

        <dt class = "col-sm-2">Author</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">Picture</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgfile)
        </dd>

        <dd>
            <img src="~/images/@Model.imgfile" height="150" />
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
